body {
    background-color:rgb(247, 245, 239);
}

h1 {
    color:rgb(44, 41, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    background-color: rgb(243, 240, 65);
    color: black;
    width: 500px;

    padding: 20px;
    border-radius: 50px;
    margin: 5% auto;
}

.main div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.main div p {
    margin-right: 10px;
}

.calculate {
    padding: 10px 0;
}
